html, body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#all-content {
    width: 400px;
    border: 5px solid black;
    border-radius: 20px;
}

header {
    border-bottom: solid 0.5px gray;
    display: flex;
    justify-content: space-between;
    height: 90px;
    margin: 0;
    
}

.logo {
    width: 140px;
    height: 65px;
    margin: 9px;
    
}

.user-av, .avatar-img {
    border-radius: 100%;
    height: 50px;
    margin: 20px 15px;
}

.avatar {
    height: 90px;
    display: flex;
}

.av-post{
    width: 100%;
}

.icon {
    width: 30px;
    margin: 15px 0 10px 10px;
    opacity: 1
}

.icon:hover {
    opacity: 0.5
}


 p {
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 0;
}

.av-name {
    font-weight: bold;
    padding-top: 10px;
}

.av-country {
    margin: 0;
}

.likes, .av-username {
    font-weight: bold;
    padding-left: 10px; 
    margin: 0 0 10px 0;
}


#van-com {
    font-weight: 400;
}

.av-user-com {
    display: flex;
    border-bottom: 1px solid lightgray;
}

.av-com {
    margin: 0 0 10px 5px; 
    
}